@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

:root {

    --cor1: #007FA6;
    --cor2: #54858E;
    --cor3: #4C6063;
    --cor4: #4FA9B8;
    --cor5: #243133;

    --fonte1: "Outfit", cursive;
    --fonte2: "Pontos Zen", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.863);
}

main > h2{
    font-family: var(--fonte1);
    text-align: center;

}

a.externo::after {
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    text-align: center;
    font-family: var(--fonte2);
    font-weight: bold;
}
header > h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
}
header > h2 {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: black;
}
nav {
    background-color: var(--cor3);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.422);
    text-align: center;
    font-weight: bold;
    font-family: var(--fonte1);
}
nav > a {
    color: rgba(255, 255, 255, 0.838);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    padding-left: 3px;
    padding-right: 3px;
}
nav > a:hover {
    background-color: var(--cor5);
    font-family: var(--fonte1);
    box-shadow:  0px 7px 9px rgba(0, 0, 0, 0.144);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.701);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.58);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section > p > a {
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(122, 122, 122);
}
section > p > a:hover {
    font-family: var(--fonte1);
    box-shadow:  0px 7px 9px rgba(0, 0, 0, 0.144);
}
section{
    text-align: center;
}

section.Planeta{
    background-color: black;
    color: white;
    height: 500px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

section > p {
    width: 200px;
    height: 300px;
    padding-top: 150px;
    margin-left: 20px;
}

section#Mercurio{
    background-image: url(imagens/1920x1080.jpg);
    background-position: center center;
}

section#Venus{
    background-image: url(imagens/venus-1-e1569284833598.jpg);
    background-position: center center;
}
section#Terra{
    background-image: url(imagens/planeta-terra-og.jpg);
    background-position: center center;
}

section#Marte{
    background-image: url(imagens/465947.jpg);
    background-position: center center;
}

section#Jupiter{
    background-image: url(imagens/jupiter-y-sus-lunas-7861.jpg);
    background-position: center center;
}
section#Saturno{
    background-image: url(imagens/o-planeta-saturno-e-visto-nesta-imagem-do-sistema-solar-da-nasa_919582-746.jpg);
    background-position: center center;
}
section#Urano{
    background-image: url(imagens/uranus.jpg);
    background-position: center center;
}
section#Netuno{
    background-image: url(imagens/Netuno-planeta.png);
    background-position: center center;
}
section#Sol{
    background-image: url(imagens/2-sol.jpg);
    background-position: center center;
}
section#Galaxia{
    background-image: url(imagens/8789685cc48982a7e30fb21ba0e3f224.jpg);
    background-position: center center;
}
section#PrimeiraSerie{
    background-image: url(imagens/WhatsApp\ Image\ 2025-09-01\ at\ 16.13.44_19e27193.jpg);
    background-position: top center;
}